@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Merriweather:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Merrieweather', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

body>header {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(229, 128, 11);
    text-shadow: 2px 3px 0.5rem rgb(34, 6, 253);
}

.contacts {
    height: 25rem;
    width: 70rem;
    border: 1px solid black;
    border-radius: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-top: 3rem; */
    box-shadow: 4px 5px 0.4rem rgba(0, 0, 0, 0.245);
}

.contacts .current {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    /* margin-bottom: 2rem; */
    padding-top: 2.5rem;
}

.current header {
    text-transform: uppercase;
    background-color: rgb(40, 177, 177);
    width: 100%;
    border-radius: 0.2rem;
    position: sticky;
    top: -0.1px;
}

.current header h2 {
    margin-left: 1rem;
    padding: 0.5rem 0;
    color: #fff;
}

.current .curr-box .contact {
    padding: 1rem;
    text-transform: capitalize;
    /* background: pink; */
    width: 70rem;
    border-bottom: 0.5px solid gray;
}

.curr-box .contact:last-child {
    border-bottom: none;
}